p {
    font-family: Roboto Condensed;
    color: #979797;
}

footer {
    background-color: #f6d9c9;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-family: Roboto Condensed;
    font-size: 14px;
    text-align: center;
    opacity: 0.5;
    color: black;
}

h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #979797;
    letter-spacing: 1px;
    line-height: 0.5em;
}

h2 {
    font-family: Roboto;
    font-size: 24px;
    color: #979797;
}

h4 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #979797;
    letter-spacing: 1px;
    line-height: 0.3em;
}

#image {
    background-image: url("/assets/alexandre-godreau-7YlHU_ZPS34-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#product-buttons {
    margin-top: 4%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

main {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    text-align: center;
}

#submit-button {
    padding: 10px 40px;
    border-radius: 10px 10px;
    font-family: Roboto Condensed;
    font-size: 16px;
    color: #979797;
    border: 3px solid #f6d9c9;
    margin-top: 30px;
}

#submit-button:hover {
    padding: 10px 40px;
    border-radius: 10px 10px;
    font-family: Roboto Condensed;
    font-size: 16px;
    color: #979797;
    border: 3px solid #979797;
    text-align: center;
}

#show-charts {
    padding: 10px 40px;
    border-radius: 10px 10px;
    font-family: Roboto Condensed;
    font-size: 16px;
    color: #979797;
    border: 3px solid #f6d9c9;
    margin-top: 30px;
}

#show-charts:hover {
    padding: 10px 40px;
    border-radius: 10px 10px;
    font-family: Roboto Condensed;
    font-size: 16px;
    color: #979797;
    border: 3px solid #979797;
    text-align: center;
}

#product-buttons button {
    margin: 10px;
    padding: 0;
    border: solid 5px #f6d9c9;
    border-radius: 20%;
    padding-bottom: 0;
    width: 310px;
    height: 310px;
}

#product-buttons button:hover {
    margin: 10px;
    padding: 0;
    border: solid 5px #979797;
    padding-bottom: 0;
    width: 310px;
    height: 310px;
}

#product-buttons button:focus {
    margin: 10px;
    padding: 0;
    border: solid 5px #979797;
    padding-bottom: 0;
    width: 310px;
    height: 310px;
}

#product-buttons img {
    width: 300px;
    height: 300px;
    object-position: cover;
    border-radius: 19%;
}

#results {
    margin-bottom: 5%;
    border: solid 3px #979797;
    border-radius: 25px 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 960px;
}

.hidden {
    display: none;
}
